<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ling.vhr.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.ling.vhr.modules.emp.model.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="id_card" property="idCard"/>
        <result column="wedlock" property="wedlock"/>
        <result column="nation_id" property="nationId"/>
        <result column="native_place" property="nativePlace"/>
        <result column="politic_id" property="politicId"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="department_id" property="departmentId"/>
        <result column="job_level_id" property="jobLevelId"/>
        <result column="pos_id" property="posId"/>
        <result column="engage_form" property="engageForm"/>
        <result column="tiptop_degree" property="tiptopDegree"/>
        <result column="specialty" property="specialty"/>
        <result column="school" property="school"/>
        <result column="begin_date" property="beginDate"/>
        <result column="work_state" property="workState"/>
        <result column="work_id" property="workId"/>
        <result column="contract_term" property="contractTerm"/>
        <result column="conversion_time" property="conversionTime"/>
        <result column="not_work_date" property="notWorkDate"/>
        <result column="begin_contract" property="beginContract"/>
        <result column="end_contract" property="endContract"/>
        <result column="work_age" property="workAge"/>
    </resultMap>

    <resultMap id="AllEmployeeInfo" type="com.ling.vhr.modules.emp.model.Employee" extends="BaseResultMap">
        <association property="department" javaType="com.ling.vhr.modules.system.basic.model.Department">
            <id column="did" property="id"/>
            <result column="department_name" property="departmentName"/>
        </association>
        <association property="nation" javaType="com.ling.vhr.modules.emp.model.Nation">
            <id column="nid" property="id"/>
            <result column="nation_name" property="name"/>
        </association>
        <association property="politicsStatus" javaType="com.ling.vhr.modules.emp.model.PoliticsStatus">
            <id column="politics_status_id" property="id"/>
            <result column="politics_status_name" property="name"/>
        </association>
        <association property="jobLevel" javaType="com.ling.vhr.modules.system.basic.model.JobLevel">
            <id column="jl_id" property="id"/>
            <result column="job_level_name" property="name"/>
        </association>
        <association property="position" javaType="com.ling.vhr.modules.system.basic.model.Position">
            <id column="position_id" property="id"/>
            <result column="position_name" property="name"/>
        </association>
    </resultMap>

    <select id="selectEmployeeByPage" resultMap="AllEmployeeInfo">
        select e.*,
               d.id as did,
               d.department_name,
               n.id as nid,
               n.name as nation_name,
               ps.id as politics_status_id,
               ps.name as politics_status_name,
               jl.id as jl_id,
               jl.name as job_level_name,
               p.id as position_id,
               p.name as position_name

        from employee e,department d,nation n,politics_status ps,job_level jl,`position` p
        where e.department_id = d.id
        and e.nation_id = n.id
        and e.politic_id = ps.id
        and e.job_level_id =jl.id
        and e.pos_id = p.id
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*)
        from employee
    </select>
</mapper>