<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ling.vhr.mapper.HrMapper">

    <resultMap id="BaseResultMap" type="com.ling.vhr.modules.system.hr.model.Hr">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
        <collection property="roles" ofType="com.ling.vhr.modules.system.hr.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="nameZh" property="nameZh"/>
        </collection>
    </resultMap>

    <update id="updateByPrimaryKeySelective">
        update hr
        <set>
            <if test="enabled != null">
                enabled = #{enabled}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryId">
        delete from hr where id = #{hrId}
    </delete>


    <select id="selectByUsername" resultType="com.ling.vhr.modules.system.hr.model.Hr">
        select *
        from hr
        where username = #{username}
    </select>

    <select id="getAllHrs" resultMap="BaseResultMap">
        select hr.*,
               r.id as rid,
               r.name as rname,
               r.nameZh
        from hr
        left join hr_role h on hr.id = h.hrid
        left join role r on h.rid = r.id
        where hr.id != #{hrId}
        <if test="keywords != null and keywords != ''">
            AND hr.name LIKE concat('%',#{keywords},'%')
        </if>

    </select>

    <select id="getAllHrsExceptCurrentHr" resultType="com.ling.vhr.modules.system.hr.model.Hr">
        select *
        from hr
        where id != #{id}
    </select>
</mapper>