<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ling.vhr.mapper.MenuRoleMapper">

    <insert id="insertRecord">
        insert into menu_role(mid,rid)
        values
        <foreach collection="mids" item="mid" open="" separator="," close="">
            (#{mid},#{rid})
        </foreach>
    </insert>


    <delete id="deleteByRoleId">
        delete from menu_role where rid = #{rid}
    </delete>
</mapper>