<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ling.vhr.mapper.PermissionMapper">




    <update id="updateByPrimeryKey">
        update permission
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="method != null and method != ''">
                code = #{method},
            </if>
            <if test="description != null and description != ''">
                code = #{description},
            </if>
            <if test="action != null and action != ''">
                code = #{action},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectPermissions" resultType="com.ling.vhr.model.PermissionDO">
        select id, code, url, method, description, action
        from permission
        where 1
        <if test="code != null and code != null">
            AND code LIKE concat('%',#{code},'%')
        </if>
        <if test="url != null and url != null">
            AND url LIKE concat('%',#{url},'%')
        </if>
    </select>

    <select id="selectAllPermission" resultType="com.ling.vhr.model.PermissionDO">
        select *
        from permission
    </select>
</mapper>