<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ling.vhr.mapper.SalaryMapper">

    <delete id="deleteByPrimaryKey">
        delete from salary where id = #{id}
    </delete>


    <select id="getAllSalaries" resultType="com.ling.vhr.modules.salary.model.Salary">
        select *
        from salary
    </select>
</mapper>