<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <aop:config expose-proxy="true"/>
    <aop:aspectj-autoproxy/>
    <task:annotation-driven/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>

    <mvc:interceptors>
        <!--<mvc:interceptor>-->
        <!--    <mvc:mapping path="/maintenance/**"/>-->
        <!--    <bean id="repeatSubmitInterceptor" class="com.ling.vhr.common.interceptor.RepeatSubmitInterceptor"/>-->
        <!--</mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="myInterceptor" class="com.ling.vhr.common.interceptor.BInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">-->
    <!--    <property name="defaultLocale" value="zh"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; file upload resolver, max size is 2000K &ndash;&gt;-->
    <!--<bean id="multipartResolver"-->
    <!--      class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--    <property name="maxUploadSize" value="20000000"/>-->
    <!--    <property name="resolveLazily" value="true"/>-->
    <!--    <property name="defaultEncoding" value="utf-8"/>-->
    <!--</bean>-->


</beans>
